body {
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    font-size: 300%;
    font-weight: 100;
}

.btn {
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    background-color: #16214D;
    color: white;
}

.btn:hover {
    background-color: #44C7F4;
}

.btn:focus {
    outline: none !important;
}

.btn.btn-lg {
    padding: 20px 30px;
}

.btn:disabled {
    background-color: #333;
    color: #666;
}

h1,
h2,
h3 {
    font-weight: 100;
}

#logo img {
    width: 300px;
    margin-bottom: 60px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 200%;
}

.login-page .login-box {
    padding: 100px 0;
}
